<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetInformationController</servlet-name>
  	<display-name>GetInformationController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.GetInformationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchIdController</servlet-name>
  	<display-name>searchIdController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.searchIdController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>newBookController</servlet-name>
  	<display-name>newBookController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.newBookController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddUser</servlet-name>
  	<display-name>AddUser</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.AddUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddUserController</servlet-name>
  	<display-name>AddUserController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.AddUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberLoginController</servlet-name>
  	<display-name>MemberLoginController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.MemberLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetInformationController</servlet-name>
  	<url-pattern>/getInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>searchIdController</servlet-name>
  	<url-pattern>/newbook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchIdController</servlet-name>
  	<url-pattern>/searchidController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchIdController</servlet-name>
  	<url-pattern>/checkoverdue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchIdController</servlet-name>
  	<url-pattern>/addmember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchIdController</servlet-name>
  	<url-pattern>/searchtitleController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchIdController</servlet-name>
  	<url-pattern>/deleteidController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchIdController</servlet-name>
  	<url-pattern>/deleteuserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchIdController</servlet-name>
  	<url-pattern>/deletenewbook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchIdController</servlet-name>
  	<url-pattern>/deletemember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>newBookController</servlet-name>
  	<url-pattern>/newbookController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddUserController</servlet-name>
  	<url-pattern>/addusercontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberLoginController</servlet-name>
  	<url-pattern>/memberloginController</url-pattern>
  </servlet-mapping>
</web-app>
